/* Styles for the multiselect input */
.custom-multiselect {
  color: black;
  font-family: Arial, sans-serif;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  /* Add any additional styling you need */
}

/* Styles for the options */
.custom-multiselect .option {
  background-color: #bf00c3; /* Change to the desired background color */

  &:hover {
    background-color: #690073;
  }
}
